
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #050505; 
    color: #e0e0e0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}


header {
    background-color: #000;
    text-align: center;
    padding: 30px 20px;
    border-bottom: 2px solid #f1c40f;
}

header h1 {
    color: #f1c40f; 
    font-size: 3rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(241, 196, 15, 0.3);
}

header p {
    color: #aaa;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.3s;
}

nav a:hover {
    color: #f1c40f;
}

.hero-banner {
    width: 100%;
    height: 400px;

    background-image: url('https://wallpapers.com/images/hd/batman-in-sunset-movie-h543s9m6ne5hiq4k.jpg'); 
    background-size: cover;
    background-position: center top;
    box-shadow: inset 0 -50px 50px #050505; 
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 20px;
}

h2 {
    color: #f1c40f;
    border-left: 5px solid #f1c40f;
    padding-left: 15px;
    margin-bottom: 10px;
    font-size: 2.2rem;
}

h3 {
    color: #f1c40f;
    margin-bottom: 5px;
}

.subtitulo {
    margin-bottom: 30px;
    color: #888;
}

hr {
    border: 0;
    border-top: 1px solid #333;
    margin: 50px 0;
}

.grid-cards {
    display: grid;
   
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.card {
    background-color: #121212;
    border-radius: 10px;
    overflow: hidden; 
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: 200px; 
    object-fit: cover;
    object-position: top; 
    display: block;
}

.card-info {
    padding: 20px;
}

.aliado {
    border: 1px solid #1a3c5a;
    box-shadow: 0 0 15px rgba(52, 152, 219, 0.1); 
}

.aliado:hover {
    border-color: #3498db;
    box-shadow: 0 0 25px rgba(52, 152, 219, 0.4);
}

.aliado h3 {
    color: #3498db;
}

.vilao {
    border: 1px solid #5a1a1a;
    box-shadow: 0 0 15px rgba(231, 76, 60, 0.1); 
}

.vilao:hover {
    border-color: #e74c3c;
    box-shadow: 0 0 25px rgba(231, 76, 60, 0.4);
}

.vilao h3 {
    color: #e74c3c;
}

footer {
    text-align: center;
    padding: 40px;
    background-color: #000;
    color: #666;
    margin-top: 50px;
    border-top: 1px solid #222;
}